body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(34, 34, 34);
    color: rgb(185, 185, 185);
}

.pixelated {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    /* fallback for older browsers */
}

#buttons {
    display: grid;
    /* 2 columns */
    grid-template-columns: repeat(2, 64px);
    /* 2 rows */
    grid-template-rows: repeat(2, 1fr);
    transform: rotate(-45deg);
}

#buttons img {
    transform: rotate(45deg);
}

.log-box {
    display: inline-block;
    padding: 5px;
    margin: 1em;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 200px;
    width: 46vw;
    overflow: hidden;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.half-cell {
    display: flex;
    width: 200px;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.caption {
    margin-left: 1em;
}

#connectedmsg {
    margin: 1em;
    background-color: rgb(68, 31, 31);
    padding: .5em;
    border-radius: 10px;
}

#connectedmsg.connected {
    background-color: rgb(42, 68, 31);
}